
modules = ["python-3.12"]
run = "gobuster dir -u https://example.com -w wordlist.txt -x php,html,txt -t 10"

[nix]
channel = "stable-24_05"
packages = ["gobuster"]

[deployment]
run = ["sh", "-c", "gobuster dir -u https://example.com -w wordlist.txt"]

[workflows]
runButton = "GoBuster Scan"

[[workflows.workflow]]
name = "Directory Enum"
author = 16578131
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py https://example.com -x .php .html .txt -t 10 -m GET -o txt"

[[workflows.workflow]]
name = "GoBuster Scan"
author = 16578131
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gobuster dir -u https://example.com -w wordlist.txt -x php,html,txt -t 10"
