modules = ["python-3.12"]
run = "python main.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python main.py"]

[workflows]
runButton = "Directory Enum"

[[workflows.workflow]]
name = "Directory Enum"
author = 16578131
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py https://example.com -x .php .html .txt -t 10 -m GET -o txt"
